.cuerpo{
    align-items: center;   
    display: flex;
    justify-content: center;
    height: 90vh; 
    
  }
  .btn{
    margin-top: 10px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
    border-radius: 20px;
    box-sizing: border-box;
    height: 90%;
    padding: 20px;
    width: 320px;
  }
  
  .alert{
    color:red;

  }
