<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.css" type="text/css">
    <title>My Wands</title>
</head>
<div class="cuerpo">
    <div class="navegador">
        <div class="intNav">
            <a class="mybooks">MyWands</a>
            <div class="links">
                <a class="home" routerLink="">Home</a>
                <a routerLink="registro">Register</a>
                <a routerLink="perfil">Perfil</a>

            </div>
        </div>
    </div>
</div>

<body>

</body>

</html>