<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.component.css" type="text/css">    
</head>
<div class="cuerpo">
   <div class="pie">
    <div class="intpie">
        <a href="https://shop.universalorlando.com/shop/harry-potter/collectibles/interactive-wands?#facet:&productBeginIndex:0&facetLimit:&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:&">Shop</a>
        <a  href="https://harrypotter.fandom.com/wiki/Ollivanders">History</a>
        <a  href="https://www.youtube.com/watch?v=gRqY1nxGGE4">Video</a>
    </div>
   </div>
     
</div>
     
<body>
    
</body>
</html>
