<div class="cuerpo">
    <div class="bloqueForm">
        <div class="bloqueFormBody">
            <div class="form">
                <h1 class="titleForm">Introduce un libro</h1>
               
               
                <div class="input">
                    <input #input2 class="input1" type="text" placeholder="Título" />
                </div>
                <div class="input">
                    <input #input3 class="input1" type="text" placeholder="Tipo" />
                </div>
                <div class="input">
                    <input #input4 class="input1" type="text" placeholder="Autor" />
                </div>
                <div class="input">
                    <input #input5 class="input1" type="number" placeholder="Precio" />
                </div>
                <div class="input">
                    <input #input6 class="input1" type="text" placeholder="URL" />
                </div>
                <button class="botonForm" on-click=enviar(input2,input3,input4,input5,input6)>Introducir</button>
            </div>
        </div>
    </div>
</div>
