<div class="cuerpo">
    <div class="buscador">
        <div class="boxBusc">
            <div class="input1Box">
                <input #input1 class="input1" type="number" placeholder=" Introduce ID de libro ">
                <button  class="submit1">Buscar</button>              
            </div>            
        </div>
  
      <div class="bloqueCards">
            <div class="cards" *ngFor="let libro of books ; let i = index; odd as isOdd">  
                <app-card [cardPadre]="libro" (eventoCard)="eliminar($event)"></app-card>             
            </div>
        </div> 
    </div>
</div>